<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width"/>
  <title>ADINA15: A Dive Into Network Anomalies</title>
	<link rel="stylesheet" href="http://ooni.io//css/master.css"/>
	<link rel="stylesheet" href="http://ooni.io//css/event.css"/>
	<link rel="stylesheet" href="http://ooni.io//css/fonts.css"/>
  <link rel="stylesheet" href="http://ooni.io//css/highlight-default.min.css">
  <link rel="icon" type="image/png" href="http://ooni.io//images/favicon.png"/>
  <script src="http://ooni.io//js/highlight.min.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>
</head>


<body class="article" ng-app="adina15">
  <div class="container">
    <nav class="event-navbar">
      <div class="col-1">
        <a href="/">
          <img class="logo" src="http://ooni.io//images/ooni-header-mascot.svg" width="25" height="25"/>
          <img class="wordmark" src="http://ooni.io//images/wordmark.svg" alt="OONI" height="14" width="53"/>
        </a>
      </div>
      <div class="col-2">
        <a href="/docs/">Docs</a>
<a href="https://gitweb.torproject.org/ooni-probe.git">Code</a>
<a href="https://ooni.torproject.org/reports/">Reports</a>
<a href="https://github.com/thetorproject/ooni-probe#installation">Install</a>
<a href="/lepidopter/lepidopter/">Lepidopter</a>
<a href="/event/adina15/">Events</a>

      </div>
    </nav>
  </div>

  <div class="event-header">
    <div class="event-banner-left"></div>
    <div class="event-banner-right"></div>

    <div class="container">
      <div class="event-dates">
          <div class="event-dates-text">1-2 October 2015</div>
      </div>

      <div class="event-banner">
        <img src="http://ooni.io///event/adina15-banner.png">
      </div>
    </div>

  </div>

  <div class="container">
    <main class="event col-3">
      <div class="event-content">
        

<p><a href="https://github.com/TheTorProject/ooni-web/raw/master/content/event/adina15.md">Raw text version of this page</a></p>

<h1 id="ooni-hackathon:550281d282d64ceb2dd86438c13e2d48">OONI Hackathon</h1>

<h2 id="adina15:550281d282d64ceb2dd86438c13e2d48">#ADINA15</h2>

<p>Do you like playing with open data and producing some good looking graphics
about them?</p>

<p>Would you fancy spending some time in the Italian Parliament in Rome hacking on
internet censorship data and <a href="http://api.ooni.io/">reports</a> gathered by
<a href="https://ooni.torproject.org/">OONI</a>?</p>

<p>Then submit an application to join us from the 1st of October
to the 2nd of October 2015 at the OONI Open Data Hackfest!</p>

<p>All humans welcome!</p>

<h1 id="ooni:550281d282d64ceb2dd86438c13e2d48">OONI?</h1>

<p>OONI is a platform for conducting and publishing measurements useful to study
censorship and surveillance on the Internet. It consists of an open data
format, an open source software implementation for several platforms, and a
public archive of over 15000 measurements collected from about 70 countries
worldwide.</p>

<hr />

<h1 id="what:550281d282d64ceb2dd86438c13e2d48">WHAT</h1>

<p>Two days of collaborative hacking on visualizations and tools that utilize the
OONI dataset to study censorship hosted at the <a href="http://www.camera.it">Italian Chamber of Deputies</a> and
organized by the OONI project in collaboration with the <a href="http://nexa.polito.it/">Nexa Center for
Internet &amp; Society</a>.</p>

<p>It will be in the format of a code-a-thon, where people work in groups on a
specific project and at the end of the event the results produced by every team
will be evaluated by a jury. It will kick off with a short presentation that
sets the stage for the context of the event. Participants should have chosen
beforehand the specific type of project they would like to work on during the
event. We will provide a list of sample projects that people can pick from
to give an idea of what are the sort of things that are possible, but it is
encouraged for participants to submit their own idea.</p>

<p>A symbolic prize will be given to the first three teams.</p>

<hr />

<h1 id="why:550281d282d64ceb2dd86438c13e2d48">WHY</h1>

<p>The OONI project builds tools to study internet censorship. Now your
contribution is needed to understand OONI data and make them more accessible to
society.</p>

<p>Got an idea? Want to build it? We want to hack with you!</p>

<p>Making internet censorship data (and, more generally, network measurements)
easier to understand and study is crucial to foster an informed democratic
debate on the governance of the internet. In fact, measuring content blocking
is functional to quantify its collateral damage on citizens&rsquo; digital rights and
this information ultimately helps democratic societies to find the right
balance between digital sovereignty, on the one hand, and fundamental rights,
on the other end.</p>

<hr />

<h1 id="who:550281d282d64ceb2dd86438c13e2d48">WHO</h1>

<p>We invite all people that have a background in design and, in particular, in
information design or in data visualization. A strong technical background is not
needed though it is useful to have. Members of the core OONI development team
will also be part of the event and will be iterating over the various
participating teams to provide technical insight and help out with the needed
coding tasks.</p>

<hr />

<h1 id="when:550281d282d64ceb2dd86438c13e2d48">WHEN</h1>

<p>The hackathon will run from October 1st to October 2nd 2015.</p>

<h3 id="october-1st-day-1:550281d282d64ceb2dd86438c13e2d48">October 1st (Day 1)</h3>

<p>09:00 Start of event (<strong>Organizers</strong> should be there at <strong>08:00</strong>)</p>

<p>10:00 Introduction</p>

<p>11:00 The hackathon begins</p>

<p>13:00 Buffet lunch[a]</p>

<p>20:00 Wrap up for the day (you can hack more, but not here)</p>

<h3 id="october-2nd-day-2:550281d282d64ceb2dd86438c13e2d48">October 2nd (Day 2)</h3>

<p>09:00 Venue opens</p>

<p>11:00 The hackathon begins</p>

<p>13:00 Buffet lunch</p>

<p>16:00 Submissions deadline</p>

<p>19:00 Award ceremony</p>

<hr />

<h1 id="where:550281d282d64ceb2dd86438c13e2d48">WHERE</h1>

<p>The hackathon will be at the Chamber of Deputies of the Italian Parliament.</p>

<p>This is the address of the room:</p>

<p>Nuova Sala dei Gruppi Camera dei Deputati
Via Campo Marzio 78
Rome, Italy</p>

<p>As for each event organized at the Italian Parliament, the following rules apply:</p>

<ul>
<li>Participants and their belongings will be subject to security check;</li>
<li>Smoking inside is forbidden;</li>
<li>Participants must be at least fourteen years old;</li>

<li><p>Smart casual attire is required (i.e. male bodied humans must <strong>wear a suit
jacket at all times</strong>).
Note: this rule is actually enforced very strictly and if you show up without
a jacket you may not be able to attend the hackathon;</p></li>

<li><p>Food or beverages may not be consumed inside the room;</p></li>

<li><p>It is forbidden to request and/or to pay for participation fee within the venue.</p></li>
</ul>

<h2 id="travel-information:550281d282d64ceb2dd86438c13e2d48">Travel information</h2>

<p>Rome is served by two airports FCO (Rome Fiumicino) and CIA (Rome Ciampino).</p>

<p>From FCO it is possible to take the train to either Termini central station or
to various stations spread around the city (Trastevere, Ostiense, Tiburtina,
Tuscolana).</p>

<p>From CIA there are buses that run regularly and connect you to the Termini
central station.</p>

<p>The venue itself is close to the Metro A stops called Spagna and Barberini.</p>

<hr />

<h1 id="prizes:550281d282d64ceb2dd86438c13e2d48">PRIZES</h1>

<h2 id="to-be-announced:550281d282d64ceb2dd86438c13e2d48">To be announced!</h2>

<hr />

<h1 id="rules:550281d282d64ceb2dd86438c13e2d48">RULES</h1>

<p>The following rules must be followed when working on your project:</p>

<ol>
<li><p>projects must use OONI data as the main theme of the visualisation</p></li>

<li><p>all data and source code used in the project should either already be public
or should be published before judging takes place using an open license</p></li>

<li><p>collaboration is encouraged and you are expected to work as part of a team</p></li>
</ol>

<p>The hackfest is an environment in which to hack, meet new people, get creative,
and have a good time. In order to make sure this event is enjoyable for
everyone involved we ask that you be excellent to each other.</p>

<p>Getting something meaningful done within such a short amount of time can be
stressful, but we&rsquo;d like to encourage everyone to take a break every now and
then to relax and enjoy the event.</p>

<p>Attendees violating these rules may be asked to leave the hackfest at the sole
discretion of the organizers. Thank you for helping make this a welcoming,
friendly event for all.</p>

      </div>
    </main>
  </div>

  <div class="event-join" ng-controller="JoinController">
    <div class="error-wrapper" ng-click="dismissError()" ng-show="errorMessage">
      <div class="error-box">
        <div class="dismiss-box"></div>
        <span class="error-message">{{errorMessage}}</span>
        <p>If you are experiencing unexplained authentication errors and have third party cookies disabled (ex. in Tor Browser) see <a href="https://trac.torproject.org/projects/tor/attachment/ticket/16893/TorBrowser-enabled-third-party-cookies.png">this ticket for information on how to workaround the issue</a></p>
      </div>
    </div>

    <div class="loader-wrapper" ng-show="loading">
      <div class="loader-box">
        <img src="http://ooni.io//images/adina-loader.svg">
        <span class="loader-message">Loading...</span>
      </div>
    </div>


    <div class="container">
      <div class="row">
        <div class="col-3">
          <div class="event-cta">
            <span class="event-join-number">#1</span>
            <span class="event-join-action">Join</span>
            <span class="event-join-desc">proposed visualization projects</span>
          </div>
          <p>Here are some of the visualization projects that have either been
          created by other participants or by the OONI dev team.</p>
        </div>
      </div>
      <div class="row available-teams">
        <div class="col-3">
          <div class="loading-team-list" ng-show="!teams">
            <p>Loading...</p>
          </div>

          <div class="project-box" ng-repeat="(idx, team) in teams.teams">
            <h2>{{team.name}}</h2>
            <p>{{team.shortDescription}}</p>
            <p>{{team.members.length}}/{{team.membersMaximum}} members</p>
            <a ng-click="showDetails(idx)">Project details</a>
            <button class="btn" ng-click="joinTeam(idx)">Join Project</button>
          </div>

        </div>
      </div>

      <div class="row">
        <h2 class="event-or">OR</h2>
      </div>
      <div class="row">
        <div class="col-3">
          <div class="event-cta">
            <span class="event-join-number">#2</span>
            <span class="event-join-action">Propose</span>
            <span class="event-join-desc">something new</span>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-3">
          <form ng-submit="createTeam()">
            <fieldset>
              <div class="field">
                <label>Project Name</label>
                <input type="text" ng-model="newTeam.name">
              </div>

              <div class="field">
                <label>Short description</label>
                <textarea ng-model="newTeam.shortDescription"></textarea>
              </div>

              <div class="field">
                <label>Long Description</label>
                <textarea ng-model="newTeam.longDescription"></textarea>
              </div>

              <div class="field">
                <label>Maximum number of members</label>
                <input type="number" min="3" max="10" ng-model="newTeam.membersMaximum">
              </div>

              <div class="field">
                <button class="btn">Create</button>
              </div>
            </fieldset>

          </form>
        </div>
      </div>

      <div class="row">
        <h2 class="event-or">OR</h2>
      </div>
      <div class="row">
        <div class="col-3">
          <div class="event-cta">
            <span class="event-join-number">#3</span>
            <span class="event-join-action">Login</span>
            <span class="event-join-desc">and modify data</span>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-3">
          <form ng-submit="loginAgain()">
            <fieldset>
              <div class="field">
                <label>Username</label>
                <input type="text" ng-model="oonitarian.username">
              </div>
              <div class="field">
                <label>Password</label>
                <input type="password" ng-model="oonitarian.password">
              </div>
              <div class="field">
                <button class="btn">Login</button>
              </div>
            </fieldset>
          </form>
        </div>
      </div>

    </div>

    <section class="team-details" ng-show="teamDetails">
      <div class="team-details-container">
        <div class="team-details-dismiss" ng-click="dismissDetails()"></div>
        <h2>{{teamDetails.name}}</h2>
        <p>{{teamDetails.longDescription}}</p>

        <h3>Members</h3>
        <ul class="members-list">
          <li class="project-box" ng-repeat="member in teamDetails.members">
            <div ng-repeat="(key, value) in member">
              <span>{{key}}</span>: <span>{{value}}</span>
            </div>
          </li>
        </ul>
      </div>
    </section>

    <section class="join-step2" ng-show="createdTeam || joinedTeam">
      <div class="join-step2-container">
        <div class="dismiss-join-button" ng-click="dismissJoin()"></div>
        <div class="join-step2-your-team">
          <h2>Your project</h2>
        </div>

        <div class="join-step2-newteam" ng-show="createdTeam">
          <fieldset>
            <div class="field">
              <label>Project Name</label>
              <input type="text" ng-model="newTeam.name">
            </div>

            <div class="field">
              <label>Short description</label>
              <textarea ng-model="newTeam.shortDescription"></textarea>
            </div>

            <div class="field">
              <label>Long Description</label>
              <textarea ng-model="newTeam.longDescription"></textarea>
            </div>

            <div class="field">
              <label>Maximum number of members</label>
              <input type="number" min="3" max="10" ng-model="newTeam.membersMaximum">
            </div>
          </fieldset>
        </div>

        <div class="join-step2-jointeam" ng-show="joinedTeam">
          <fieldset>
            <div class="field">
              <label>Project Name</label>
              <span>{{selectedTeam.name}}</span>
            </div>

            <div class="field">
              <label>Short description</label>
              <p>{{selectedTeam.shortDescription}}</p>
            </div>

            <div class="field">
              <label>Long description</label>
              <p>{{selectedTeam.longDescription}}</p>
            </div>

            <div class="field">
              <label>Members</label>
              <ul class="members-list">
                <li class="project-box" ng-repeat="member in selectedTeam.members">
                  <div ng-repeat="(key, value) in member">
                    <span>{{key}}</span>: <span>{{value}}</span>
                  </div>
                </li>
              </ul>
            </div>
          </fieldset>
        </div>

        <h2>Your registration details</h2>
        <p>Please note that due to the security requirements of the Italian
        parliament we need to provide your real legal name, birth date, birth
        city, and you will be asked for ID upon entry.</p>

        <p>The password you enter here can be used to modify your
        registration information.</p>

        <p>The email you provide will be visible on this website, so that you
        can be contacted by others in your team.</p>

        <form ng-submit="register()">
          <fieldset>
            <div class="field">
              <label>Username</label>
              <input type="text" ng-model="oonitarian.username">
            </div>

            <div class="field">
              <label>Legal name</label>
              <input type="text" ng-model="oonitarian.legal_name">
            </div>

            <div class="field">
              <label>Email</label>
              <input type="text" ng-model="oonitarian.email">
            </div>

            <div class="field">
              <label>Date of Birth</label>
              <input type="text" ng-model="oonitarian.birthDate"/>
            </div>

            <div class="field">
              <label>City of Birth</label>
              <input type="text" ng-model="oonitarian.birthCity"/>
            </div>

            <div class="field">
              <label>Phone Number</label>
              <input type="text" ng-model="oonitarian.phoneNumber"/>
            </div>


            <div class="field">
              <label>Password</label>
              <input type="password" ng-model="oonitarian.password">
            </div>

            <div class="field">
              <button class="btn">Register</button>
          
            </div>
          </fieldset>
        </form>
      </div>
    </section>

    <section class="join-done" ng-show="joined">
      <div class="join-done-wrapper">
        <div class="join-done-box">
          <h2>Your registration was successful!</h2>
          <p>Please take note of this information. The current version of this
          site does not support logging in, but before the event you will be
          able to use your username and password to login and modify your
          registration information.</p>
          <p>If you have any questions or need to modify your registration
             data, send an email to art [AT] torproject [DOT] org</p>

            <div class="field">
              <label>Username</label>
              <span>{{oonitarian.username}}</span>
            </div>

            <div class="field">
              <label>Legal name</label>
              <span>{{oonitarian.legal_name}}</span>
            </div>

            <div class="field">
              <label>Email</label>
              <span>{{oonitarian.email}}</span>
            </div>

            <div class="field">
              <label>Date of Birth</label>
              <span>{{oonitarian.birthDate}}</span>
            </div>

            <div class="field">
              <label>City of Birth</label>
              <span>{{oonitarian.birthCity}}</span>
            </div>

            <div class="field">
              <label>Phone Number</label>
              <span>{{oonitarian.phoneNumber}}</span>
            </div>


            <div class="field">
              <label>Password</label>
              <span>{{oonitarian.password}}</span>
            </div>

            <div class="field">
              <label>Project Name</label>
              <span>{{selectedTeam.name}}</span>
            </div>

            <div class="field">
              <label>Short description</label>
              <p>{{selectedTeam.shortDescription}}</p>
            </div>

            <div class="field">
              <label>Long description</label>
              <p>{{selectedTeam.longDescription}}</p>
            </div>

          <p>See you soon in Rome!</p>
          <button ng-click="dismissDone()" class="btn">Ok</button>
        </div>
      </div>
    </section>

    <section class="login-done" ng-show="logged">
      <div class="login-done-wrapper">
        <div class="login-done-box">
        <div class="login-done-dismiss" ng-click="dismissDone()"></div>
          <h2>Logged in as `{{oonitarian.username}}`:</h2>

            <div class="field">
              <label>Email</label>
              <input type="text" ng-model="oonitarian.email"/>
            </div>


            <div class="field">
              <label>Date of Birth</label>
              <input type="text" ng-model="oonitarian.birthDate"/>
            </div>

            <div class="field">
              <label>City of Birth</label>
              <input type="text" ng-model="oonitarian.birthCity"/>
            </div>

            <div class="field">
              <label>Phone Number</label>
              <input type="text" ng-model="oonitarian.phoneNumber"/>
            </div>

             <div class="field">
              <label>Twitter</label>
              <input type="text" ng-model="oonitarian.twitter"/>
            </div>

             <div class="field">
              <label>Portfolio Url</label>
              <input type="text" ng-model="oonitarian.portfolio_url"/>
            </div>

            <div class="field">
              <label>Skills</label>
              <div ng-repeat="skill in oonitarian.skills track by $index">
                <input type="text" ng-model="oonitarian.skills[$index]" style="display:inline">
                <button ng-click="removeSkill($index)" class="btn">X</button>
              </div>
              <button ng-click="addSkill()" class="btn">Add</button>
            </div>

            <div class="field">
              <label>Team</label>
              <div ng-repeat="team in teams.teams">
                <input type="radio" name="groups" ng-model="oonitarian.teamId"
                 ng-value="team.id"> {{team.name}} </input>
              </div>
            </div>

            <div class="field">
              <label>Change password</label>
              <form name="changePassword">
                Set new password <input type="password"
                    ng-model="oonitarian.password" ng-required/>
              </form>
            </div>

          <button ng-click="editInfo()" class="btn">Save Changes</button>
        </div>
      </div>
    </section>

  </div>

  <script src="http://ooni.io//vendor/angular/angular.js"></script>
  <script src="http://ooni.io//vendor/angular-resource/angular-resource.js"></script>
  <script src="http://ooni.io//js/lb-services.js"></script>
  <script src="http://ooni.io//js/adina15.js"></script>

</body>
</html>
